<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= locals.description %>">
    <link href="./styles/compiled.css" rel="stylesheet">
    <!-- The folder that was specified to express at src/index.ts as the one that serves the statics files will be taken as the root folder -->
    <link rel="cannonical" href="https://www.vibearmicromercado.com<%= locals.cannonical %>">
    <title>
        <%= locals.title %>
    </title>
</head>

<body class="bg-gray-200">
    <header>
        <div class="flex bg-olive h-15">
            <div class="flex-1">
                <div class="grid grid-cols-3 gap-4">
                    <div>1</div>
                    <div>9</div>
                    <div>9</div>
                  </div>
            </div>
        </div>
    </header>